:root {
    --color-primary: #333333;
    --color-primary-light: #777777;
    --bg-color-primary: #ffffff;
    --bg-color-primary-alt: #f2f2f2;
    --border-color-primary: #c4c4c4;

    --color-secondary: #f2f2f2;
    --bg-color-secondary: #4f2683;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-primary: #f2f2f2;
        --color-primary-light: #c8c8c8;
        --bg-color-primary: #222222;
        --bg-color-primary-alt: #2f2f2f;
        --border-color-primary: #555555;
    }
}

body {
    all: unset;
    font-family: Helvetica, Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

h1 {
    all: unset;
    display: block;
    font-size: 2em;
    font-weight: bold;
}

h2 {
    all: unset;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
}

h3 {
    all: unset;
    display: block;
    font-size: 1.17em;
    font-weight: bold;
}

h4 {
    all: unset;
    display: block;
    font-size: 1em;
    font-weight: bold;
}

a {
    color: inherit;
    text-decoration: underline;
}

a.no-underline {
    text-decoration: none;
}

form {
    all: unset;
}

input {
    all: unset;
    display: inline-block;
}

button {
    all: unset;
}

[type="file"] {
    display: none;
}

[type="text"] {
    padding: 0.5em;
}

fieldset {
    all: unset;
    display: block;
    padding: 0.5em;
}

legend {
    all: unset;
}

table {
    all: unset;
}

thead {
    all: unset;
    display: flex;
    flex-direction: column;
}

tbody {
    all: unset;
    display: flex;
    flex-direction: column;
}

th {
    all: unset;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}

tr {
    all: unset;
    display: flex;
    flex-direction: row;
}

tr.tr-indent {
    margin-left: 2em;
}

td {
    all: unset;
    flex: 1;
}

.primary {
    color: var(--color-primary);
    background-color: var(--bg-color-primary);
}

.primary-border {
    border: 0.1em solid var(--border-color-primary);
}

.primary-light {
    color: var(--color-primary-light);
}

.primary-alt {
    background-color: var(--bg-color-primary-alt);
}

.primary input::placeholder {
    color: var(--color-primary-placeholder);
    opacity: 1;
}

.secondary {
    color: var(--color-secondary);
    background-color: var(--bg-color-secondary);
}

.invisible-border {
    border: 0.1em solid transparent;
}

.no-wrap {
    white-space: nowrap;
}

.bold {
    font-weight: bold;
}

.header {
    padding: 1em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}

.uwo-logo {
    width: 3em;
    min-width: 3em;
}

.body {
    flex: 1;
}

.footer {
    height: 2em;
    padding: 0em 2em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3em;
    font-size: small;
}

.center-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1em 0em;
}

.box {
    padding: 1.5em 2em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.box-a {
    align-self: flex-start;
}

.button {
    display: inline-block;
    font-size: medium;
    line-height: 2em;
    padding: 0em 1em;
    border-radius: 0.5em;
    border: 0.1em solid var(--border-color-primary);
    cursor: pointer;
}

.button:hover {
    background-color: var(--border-color-primary);
}

.icon-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0em 1em 0em 0.8em;
}

.icon-button > :first-child {
    width: 0.8em;
    margin-right: 0.6em;
}
